*{
    margin: 0;
    padding: 0;
    list-style:none;
    box-sizing: border-box;
    font-family: Optimistic Display, -apple-system, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji !important;
    text-decoration: none;


}
*:visited{
    color: inherit;
}
@font-face {
    font-family: Optimistic Text;
    src: url("./fonts/Optimistic_Text_W_Rg.woff2");
}
@font-face {
    font-family: Optimistic Display;
    src: url('./fonts/Optimistic_Display_W_Md.woff2');
}
