@use "../variables" as *;
@use "./contentpage.scss" as *;
#main-content-area{
    @include content-page(column);
    
}

#content-title{
    font-size: 3.25rem;
    font-weight: 600;
    max-width: 48rem;
    color: $main-text-color;
    text-align: center;
}

.content-area{
    width: 100%;
    height: 100%;
}
.content-desc{
    font-size: 1.25rem;
    font-weight: 100;
    font-family: Optimistic Text,-apple-system,ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    max-width: 48rem;
    color: $main-text-color;
    text-align: center;

}
.desc-highlighted{
    background-color: $desc-highlighted;
    font-family: JetBrainsMono-Regular;
    font-weight: 500;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    
    border-radius: 0.25rem;
}

#content-btn{
    @include content-btn();
}

