@use "../variables" as *;


#hero-section{
    height: 75vh;
    width: 100vw;
    background-color:  $background-main;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    flex-direction: column;
    color: $main-text-color;
    font-family: Optimistic Display,-apple-system,ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color EmojiOptimistic Display,-apple-system,ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

#hero-react-logo{
    width: 25%;
    height: 25%;
    object-fit: contain;
}

#hero-title{
    font-size: 3.25rem;
    font-weight: 600;


}
#hero-description{
    font-size: 2.25rem;
    font-weight: 400;


}
#btn-area{
    display: flex;
    gap: 0.5rem;
    margin-top: 0.75rem;
    button{
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        border-radius: 1.5rem;
        font-weight: 600;
        font-size: 1.1rem;
        &:hover{
            cursor: pointer;
        }
    }
}

#btn-api{
    color: $main-text-color;
    background-color: $background-main;
    border: 0.25px solid $header-text-color;
    &:hover{
        background-color: $text-highlighted;
    }

}
#btn-learn{
    color: black;
    background-color: $alternate-text-color;
    border: none;

    
}