




$background-main:rgb(35 39 47 );
$header-text-color:rgb(153 161 179);
$text-highlighted:rgb(45, 48, 55);
$text-color-1:rgb(207, 208, 210);
$main-text-color:rgb(235,236,240);
$alternate-text-color:rgb(88 196 220);
$content-background-color:rgb(25,27,32);
$content-background-color-alternate:rgb(30,32,38);
$content-btn-background:#23272f;
$content-border:rgba(246,247,249,.1);
$desc-highlighted:rgb(63,71,86);