@use "../variables" as *;

#overlay-area{
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh ;
    background-color: rgba(rgb(48, 57, 68),0.8);
}
#overlay-search-area{
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: $background-main;
    width: 55%;
    height: 80%;
    border-radius: 20px;
    input{
        height: 5%;
        border-radius: 20px;
        background-color: $search-background;
        border: none;
        flex-grow: 1;
        margin: 1rem;
        margin-right: 1rem;
    }
}
